@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #4070f4;
  --color-primary-lighter: #0171d3;
  --color-primary-white: #ffffff;
  --color-primary-black: #2c2836;
  --color-black: #000000;
  --color-black-lighter: #696969;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
}
