@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #4070f4;
  --color-primary-lighter: #0171d3;
  --color-primary-white: #ffffff;
  --color-primary-black: #2c2836;
  --color-black: #000000;
  --color-black-lighter: #696969;
}
html {
  font-size: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.home-hero {
  background: linear-gradient(to bottom, #030303, var(--color-primary));
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 0.5rem;
  color: white;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.home-hero a {
  text-decoration: none;
  background-color: var(--color-primary);
  color: white;
  width: 7rem;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
.main-sign {
  display: flex;
  background-color: var(--color-primary);
  height: 80vh;
  justify-content: center;
}
.signup {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-white);
  width: 50%;
  max-width: 23rem;
  height: 90%;
  overflow: hidden;
  margin-top: 2rem;
  border-radius: 0.8rem;
  align-items: center;
}
.signup h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.signup-form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.7rem;
}
.signup-input {
  display: inline-block;
  width: 95%;
  align-self: center;
  padding: 0.4rem;
}
.signup-button {
  background-color: var(--color-primary);
  padding: 0.4rem;
  border: none;
  border-radius: 0.5rem;
  width: 95%;
  align-self: center;
}
.login-main {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  height: 80vh;
}
.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--color-primary-white);
  height: 60%;
  margin-top: 2rem;
  border-radius: 0.6rem;
  align-items: center;
  max-width: 25rem;
}
.login h2 {
  text-transform: capitalize;
  padding: 0.5rem;
}
.login input {
  width: 90%;
  display: inline-block;
  padding: 0.4rem;
  margin-bottom: 0.1rem;
  margin-left: 0.6rem;
}
.sign-button {
  display: inline-block;
  width: 90%;
  padding: 0.2em;
  border-radius: 0.3em;
  border: none;
  margin: 1rem;
  background-color: var(--color-primary);
}
.explore-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 400px !important;
  border: 1px solid gray;
}
.user-info {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  gap: 2rem;
}
.member__icon {
  margin: 0.5rem;
  width: 10%;
  height: 10%;
  overflow: hidden;
}
.member__icon img {
  width: 100%;
  border-radius: 50%;
}
.user_detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: large;
}
.member__detail {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.member__detail img {
  width: 95%;
  height: 20rem;
  align-self: center;
}
.user-info img {
  width: 15%;
  border-radius: 50%;
}
user-content {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  text-wrap: wrap;
  text-align: center;
}
.user-content p {
  width: 100%;
  text-wrap: wrap;
}
.user-content img {
  width: 90%;
  height: 10rem;
}
.post-main {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  height: 100vh;
}
.post-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow: hidden;
  border: gray solid;
  padding: 0.5em;
  background-color: var(--color-primary-white);
  height: 40%;
  margin: 2rem;
}
.posts-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
}
.post-text {
  min-height: 4rem;
  border: none;
  border-style: dotted;
}
.post-button {
  background-color: var(--color-primary);
  color: var(--color-primary-white);
  width: 6rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 0.3rem;
  transition: all 0.5s linear;
  align-self: center;
}
.post-button:hover {
  background-color: wheat;
  color: var(--color-primary);
}
